body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.formulario-contacto {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.texto-ppal {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    max-width: 50%;
}

.texto-dentro-ppal {
    font-weight: normal;
    margin-bottom: 1em;
}